<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes"
        (click)="onSelect(hero)"
        [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>
<hero-detail [hero]="selectedHero"></hero-detail>

<!--Some explanations, things I've learned:-->
<!--
    // * template is a html. I assume you can also do it in another file.
    // * because I'm using the backticks, I can put parts of the string on their
    //   own lines. You can also embedd expressions into one of these so-called
    //   "template literals" with the following syntax: `string ${expression}`
    //   expressions can be things like a variable name or (2+2)
    //   you can even pass the data to a function afterwards. This is cool!
    //   see https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals
    //   for more info
    // * master/detail: master is the list of heroes, detail is the stuff about
    //   the selected hero below the list.
    // * the * prefix to ngFor is essential, apparently... The tutorial says that
    //   this indicates that the <li> element and it's children (what are its
    //   children?) constitute a master template (what's a master tempalte?)
    // * putting the ngFor inside the <li> tag makes multiple <li> elements.
    //   Moving it to the <ul> tag makes multiple <ul> elements.
    // * "let hero" indiacates that the variable hero will contain the current
    //   iteration's hero.
    // * parentheses around "click" indicate that the li element's "click" event
    //   is the target.
    // * double curly braces are the syntax for "interpolation binding"
    // * () indicates one way binding from user to program (from element in 
    //   markup to a component on the backend.) This is called event binding
    // * [] indicates one way binding from program to user (from component to
    //   an element in markup) - this is called property binding.
    // * that fun little [()] indicates two-way binding.
    // * ngModel won't work unless you opt-in to using the module "FormsModule".
    //   this is done in app.module.ts
-->